@import url(https://fonts.googleapis.com/css?family=Crimson+Text|Lora|Homemade+Apple|Meddon|Petit+Formal+Script|Playfair+Display|Raleway|Oswald);

$burnt-orange: #bc6225;
$olive: #51534a;
$cream: #EBE7DF;
$grey: #777777;

$body: 'Raleway', sans-serif;
$headlines: 'Crimson Text', serif;


.box {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin: 10px 13px;
    background-color: #1E1E1E;
    overflow: hidden;
  }


// .content {
//   position:absolute;
//   height:90%; /* = 100% - 2*5% padding */
//   width:90%; /* = 100% - 2*5% padding */
//   padding: 5%;
//
// }
.table{
  display:table;
  width:100%;
  height:100%;
}
.table-cell{
  display: table-cell;
  vertical-align: middle;
  height: 130px;
  opacity: 0;
}
.table-cell:hover{
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
  height: 130px;
  opacity: 100;
  background: rgba(81, 83, 74, 0.8)
}

.recipe-header {
  font-family: $headlines;
  text-transform: uppercase;
  color: $olive;
  font-size: 3rem;
  padding-top: 25px;
}

/*  For responsive images */

.content .rs{
  width:auto;
  height:auto;
  max-height:90%;
  max-width:100%;
}
/*  For responsive images as background */

.bg{
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
  color:#fff;
}

a.box-text{
  font-family: $body;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.img1{
  background-image: image-url('breakfast_2.jpg');
}
.img2{
  background-image: image-url('lunch.jpg');
}
.img3{
  background-image: image-url('appetizer_2.jpg');
}
.img4{
  background-image: image-url('soup.jpg');
}
.img5{
  background-image: image-url('salad.jpg');
}
.img6{
  background-image: image-url('BEEF.jpg');
}
.img7{
  background-image: image-url('chicken.jpg');
}
.img8{
  background-image: image-url('pork.jpg');
}
.img9{
  background-image: image-url('seafood.jpg');
}
.img10{
  background-image: image-url('vegetables.jpg');
}
.img11{
  background-image: image-url('desserts.jpg');
}
.img12{
  background-image: image-url('other.jpg');
}

/*  following just for the demo */


body {
  font-size:20px;
  font-family: 'Lato',verdana, sans-serif;
  color: #fff;
  text-align:center;
  background:#ECECEC;
}

.numbers{
  font-weight:900;
  font-size:100px;
}
