@import url(https://fonts.googleapis.com/css?family=Crimson+Text|Lora|Homemade+Apple|Meddon|Petit+Formal+Script|Playfair+Display|Raleway);
$container-width: 750px;
$container-height: 300px;
$base-font-size: 1rem;
$base-line-height: 1.25 * $base-font-size;
$burnt-orange: #bc6225;
$olive: #51534a;
$cream: #EBE7DF;
$grey: #777777;
$dark-cream: #ebe1cf;

$body: 'Raleway', sans-serif;
$headlines: 'Crimson Text', serif;

.backgroundimage {
  height: 600px;
  background-image: image-url('landing-page-2.jpg');
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  border-bottom: 20px solid $burnt-orange;
  border-top: 2px solid $olive;
}
a {
  color: $cream;
}
.link a {
  color: $burnt-orange;
}

.link a:hover {
  color: $olive;
}

a:hover {
  color: $burnt-orange;
}
.welcome {
  padding-left: 10%;
  padding-top: 7px;
  font-size: 1rem;
  color: $cream;
  text-align: left;
  width: $container-height;
}
.show-background {
  background-color: $cream;
  padding-bottom: 80px;
}



.logo-img {
  width: 650px;
}

.linebrk-img {
  width: 200px;
}

.line-break {
  margin: 10px 0 20px 0;
}

.for-dinner {
  background-color: #ebe1cf;
  margin: none;
  padding-bottom: 36px;
}

.measurement-container {
  background-color: $olive;
  margin: none;
  padding: 20px 0;
}
.fork-knife-img {
  width: 60px;
}

.buttonrow {
  margin-top: 206px;
}

.btn-main {
  border: 1px solid $burnt-orange;
  color: #fff;
  font-family: $body;
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 16px 30px;
  text-transform: uppercase;
  min-width: 218px;
  margin: auto;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
    cursor: pointer;
}
a.btn-main{
  color: #ffffff;
  border: 1px solid $burnt-orange;
  color: #fff;
  font-family: $body;
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 16px 30px;
  text-transform: uppercase;
  width: 218px;
  margin: auto;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-main:hover {
  background-color: $burnt-orange;
  border: 1px solid #ffffff;
}

.wrapper {
  text-align: center;
  display: inline-block;
  // position: absolute;
  // top: 50%;
  // left: 50%;
}
