
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple|Meddon|Petit+Formal+Script|Playfair+Display|Raleway|Fredericka+the+Great);
$container-width: 750px;
$container-height: 300px;
$base-font-size: 1rem;
$base-line-height: 1.25 * $base-font-size;
$black: #1c2224;
$blue: #37BECC;
$dark-grey: #1c1c1c;
$green: #84CE15;
$grey: #777777;
$light-blue: #E5F3F4;

$burnt-orange: #bc6225;
$olive: #51534a;
$cream: #EBE7DF;

$recipe-name: 'Fredericka the Great', cursive;
$body: 'Raleway', sans-serif;
$headlines: 'Crimson Text', serif;
// font-family: 'Homemade Apple', cursive;
// font-family: 'Petit Formal Script', cursive;
// font-family: 'Meddon', cursive;


// .random-recipe-content {
//   border: 1px white solid;
//   margin: auto;
//   width: 520px;
//   height: 88%;
//   right: 0;
//   top: 4px;
//   padding: 1.25rem;
//   padding-top: 10px;
//   margin-top: 35px;
//   background: rgba(204, 204, 204, 0.2);
// }
//
.show-heading-1 {
  color: #ffffff;
  font-family: $recipe_name;
  font-size: 3rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 6%;
}

.showtopper {
  height: 200px;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  // border-bottom: 10px solid $olive;
  border-top: 2px solid $olive;
}

.image1{
  background-image: image-url('image1.jpg');
}
.image2{
  background-image: image-url('image2.jpg');
}
.image3{
  background-image: image-url('image3.jpg');
}
.image4{
  background-image: image-url('image4.jpg');
}
.image5{
  background-image: image-url('image5.jpg');
}
.image6{
  background-image: image-url('image6.jpg');
}
.image7{
  background-image: image-url('image7.jpg');
}
.image8{
  background-image: image-url('image8.jpg');
}
.image9{
  background-image: image-url('image9.jpg');
}
.image10{
  background-image: image-url('image10.jpg');
}
.image11{
  background-image: image-url('image11.jpg');
}
.image12{
  background-image: image-url('image12.jpg');
}
// a.random-heading-1:hover {
//   color: $burnt-orange;
// }
//
.ingredient-container {
  text-align:left;
  margin-left: 18px;
  font-size: 1.1rem;
}
.instruction-container {
  text-align:left;
  margin-left: 18px;
  font-size: 1.1rem;
}

.ingredient-box {

  margin-left: 25px;
}

.ingredient-headline {
  margin-left: 23px;

}

.ingredient-item {
  padding: 0 1rem;

  &:first-child {
    padding-left: 0px;
    margin-bottom: 23px;
  }

  > .ingredient-value {
    line-height: $base-line-height * 2;
    text-align: left;
    margin-left: 19px;
    margin-top: 50px;
    font-family: $headlines;
    font-size: 2.3rem;
    color: $olive;
  }

  & + & {
    border-left: 1px solid recipe-color('border');
  }
}

.direction-item {
  padding: 0 1rem;

  &:first-child {
    padding-left: 17px;
  }

  > .direction-value {
    line-height: $base-line-height * 2;
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
    font-family: $headlines;
    font-size: 2.3rem;
    color: $olive;
  }

  & + & {
    border-left: 1px solid recipe-color('border');
  }
}


.ingredient {
  font-weight: bold;
  font-size: 1.2rem;
}
.ingredient-text {
  font-size: 1.2rem;

}

p {
  margin-top: 22px;
  font-size: 1.2rem;
  color: $black;
  float: none;
  font-family: $body;
  width: 90%;
  text-align: left;
}

p.hidden{
  opacity: 0.35;
  // display: none;
}


.ingredient-show {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  height: 100%;
  right: 0;
  top: 0;
  color: $olive;
  display: inline-block;
}

.show-recipe-container {
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

.show-recipe-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  &.meta {
    > .show-recipe-item {
      display: inline-block;
      padding-right: 1.15rem;
    }
  }
}

.show-recipe-item {
  padding: 0 1rem;

  &:first-child {
    padding-left: 0;
  }

  > .show-recipe-value {
    font-size: 1.333rem;
    line-height: $base-line-height * 2;
    font-weight: bold;
    color: $cream;
  }

  > .show-recipe-text {
    font-size: 0.75rem;
    line-height: $base-line-height;
    color: $cream;
  }

  & + & {
    border-left: 1px solid recipe-color('border');
  }
}

.buttonrow-show {
  margin-top: 80px;
}

.btn-show {
  background-color: $burnt-orange;
  color: #fff;
  font-family: $body;
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 16px 30px;
  text-transform: uppercase;
  width: 218px;
  margin: auto;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}
a.btn-show{
  color: #ffffff;
  border: 1px solid $burnt-orange;
  color: #fff;
  font-family: $body;
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 16px 30px;
  text-transform: uppercase;
  width: 218px;
  margin: auto;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-show:hover {
  background-color: $olive;
  border: 1px solid #ffffff;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $olive;
  text-align: center;
  margin-top: 60px;
  position:absolute;
}
.footer-main {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $olive;
  text-align: center;
  margin-top: 60px;

}


.measurement-header {
  font-family: $headlines;
  text-transform: uppercase;
  color: $burnt-orange;
  font-size: 1.5rem;
  // padding-top: 15px;
}

.measurement-header:hover {
  color: $cream;
  cursor: pointer;
}

.measurement-container-drop {
  background-color: $olive;
  margin: none;
  padding: 15px 0;
}

.measurement-container-pic {
  background-color: $olive;
  margin: none;
  padding: 20px 0;
  width: 80%;
}
